<launch>

    <arg name="config" default="$(find neverdrive_obstacle_detection_ros_tool)/launch/params/obstacle_detection_parameters.yaml"/>
    <arg name="nodelet_manager_name" default="nodelet_manager_obstacle_detection"/>
    <arg name="start_nodelet_manager" default="true"/>
    <arg name="nodelet_name" default="obstacle_detection"/>

    <!-- Nodelet manager (if enabled) -->
    <node pkg="nodelet" type="nodelet" name="$(arg nodelet_manager_name)" args="manager" output="screen"
          if="$(arg start_nodelet_manager)"/>

    <!-- ObstacleDetection -->
    <node pkg="nodelet" type="nodelet" name="$(arg nodelet_name)"
          args="load neverdrive_obstacle_detection_ros_tool/ObstacleDetectionNodelet $(arg nodelet_manager_name)" output="screen" required="true">
        <rosparam command="load" file="$(arg config)"/>
    </node>

</launch>
