<launch>

    <arg name="config" default="$(find neverdrive_traffic_cones_ros_tool)/launch/params/traffic_cones_detection_parameters.yaml"/>
    <arg name="nodelet_manager_name" default="nodelet_manager_traffic_cones_detection"/>
    <arg name="start_nodelet_manager" default="true"/>
    <arg name="nodelet_name" default="traffic_cones_detection"/>

    <!-- Nodelet manager (if enabled) -->
    <node pkg="nodelet" type="nodelet" name="$(arg nodelet_manager_name)" args="manager" output="screen"
          if="$(arg start_nodelet_manager)"/>

    <!-- TrafficConesDetection -->
    <node pkg="nodelet" type="nodelet" name="$(arg nodelet_name)"
          args="load neverdrive_traffic_cones_ros_tool/TrafficConesDetectionNodelet $(arg nodelet_manager_name)" output="screen" required="true">
        <rosparam command="load" file="$(arg config)"/>
    </node>

</launch>
