<launch>

    <arg name="config" default="$(find neverdrive_grid_map_ros_tool)/launch/params/grid_map_creation_parameters.yaml"/>
    <arg name="nodelet_manager_name" default="nodelet_manager_grid_map_creation"/>
    <arg name="start_nodelet_manager" default="true"/>
    <arg name="nodelet_name" default="grid_map_creation"/>

    <!-- Nodelet manager (if enabled) -->
    <node pkg="nodelet" type="nodelet" name="$(arg nodelet_manager_name)" args="manager" output="screen"
          if="$(arg start_nodelet_manager)"/>

    <!-- GridMapCreation -->
    <node pkg="nodelet" type="nodelet" name="$(arg nodelet_name)"
          args="load neverdrive_grid_map_ros_tool/GridMapCreationNodelet $(arg nodelet_manager_name)" output="screen" required="true">
        <rosparam command="load" file="$(arg config)"/>
    </node>

</launch>
